# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.
- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [18]:
import pandas as pd

# Load the dataset from the provided URL
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [2]:
print(f"Dataset dimensions: {df.shape}")

Dataset dimensions: (4008, 11)

In [19]:
print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [5]:
# Get the number of unique values in each column
print(df.nunique())

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [6]:
# List unique values for categorical columns
for col in df.select_dtypes(include=['object', 'category']).columns:
    print(f"Unique values in {col}: {df[col].unique()}")

Unique values in Customer: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Unique values in ST: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values in GENDER: [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values in Education: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values in Customer Lifetime Value: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Unique values in Number of Open Complaints: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values in Policy Type: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values in Vehicle Class: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [7]:
# Get summary statistics for numerical columns
print(df.describe())

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [8]:
# Get the mode of numerical columns
print(df.mode())

     Customer      ST GENDER Education Customer Lifetime Value  Income  \
0     AA71604  Oregon      F  Bachelor              251459.20%     0.0
1     AB13432     NaN    NaN       NaN              445811.34%     NaN
2     AB60627     NaN    NaN       NaN                     NaN     NaN
3     AB72731     NaN    NaN       NaN                     NaN     NaN
4     AB96670     NaN    NaN       NaN                     NaN     NaN
...       ...     ...    ...       ...                     ...     ...
1066  ZX23819     NaN    NaN       NaN                     NaN     NaN
1067  ZX64745     NaN    NaN       NaN                     NaN     NaN
1068  ZX86243     NaN    NaN       NaN                     NaN     NaN
1069  ZZ91716     NaN    NaN       NaN                     NaN     NaN
1070  ZZ97035     NaN    NaN       NaN                     NaN     NaN

      Monthly Premium Auto Number of Open Complaints    Policy Type  \
0                     65.0                    1/0/00  Personal Auto
1                      NaN                       NaN            NaN
2                      NaN                       NaN            NaN
3                      NaN                       NaN            NaN
4                      NaN                       NaN            NaN
...                    ...                       ...            ...
1066                   NaN                       NaN            NaN
1067                   NaN                       NaN            NaN
1068                   NaN                       NaN            NaN
1069                   NaN                       NaN            NaN
1070                   NaN                       NaN            NaN

      Vehicle Class  Total Claim Amount
0     Four-Door Car               321.6
1               NaN                 NaN
2               NaN                 NaN
3               NaN                 NaN
4               NaN                 NaN
...             ...                 ...
1066            NaN                 NaN
1067            NaN                 NaN
1068            NaN                 NaN
1069            NaN                 NaN
1070            NaN                 NaN

[1071 rows x 11 columns]

In [9]:
# Get value counts for categorical columns
for col in df.select_dtypes(include=['object', 'category']).columns:
    print(f"Value counts for {col}:")
    print(df[col].value_counts())

Value counts for Customer:
Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64
Value counts for ST:
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
Value counts for GENDER:
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
Value counts for Education:
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Value counts for Customer Lifetime Value:
Customer Lifetime Value
445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: count, Length: 1027, dtype: int64
Value counts for Number of Open Complaints:
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64
Value counts for Policy Type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Value counts for Vehicle Class:
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
print(df.columns)

location_counts = df['ST'].value_counts(ascending=True)

top_5_least_common_locations = location_counts.head(5)
print(top_5_least_common_locations)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [21]:
print(df.columns)

policy_sales = df.groupby('Number of Open Complaints')['Total Claim Amount'].sum()

op_policy_type = policy_sales.idxmax()

print(f"Policy type with the highest number of policies sold: {top_policy_type}")
print(f"Total policies sold: {policy_sales.max()}")

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Policy type with the highest number of policies sold: 1/0/00
Total policies sold: 338234.96855

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?
- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
print(df.columns)

personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

avg_income_personal_auto = personal_auto_df['Income'].mean()
avg_income_corporate_auto = corporate_auto_df['Income'].mean()

print(f"Average income for Personal Auto policy holders: ${avg_income_personal_auto:.2f}")
print(f"Average income for Corporate Auto policy holders: ${avg_income_corporate_auto:.2f}")

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Average income for Personal Auto policy holders: $38180.70
Average income for Corporate Auto policy holders: $41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.
*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*
*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
print(df.columns)

claim_stats = df['Total Claim Amount'].describe()

percentile_75 = df['Total Claim Amount'].quantile(0.75)

high_claims_df = df[df['Total Claim Amount'] > percentile_75]

high_claim_stats = high_claims_df['Total Claim Amount'].describe()

print(f"75th Percentile (Q3) of Claim Amount: ${percentile_75:.2f}")
print("\nSummary statistics for high claim amounts:")
print(high_claim_stats)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
75th Percentile (Q3) of Claim Amount: $532.80

Summary statistics for high claim amounts:
count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: Total Claim Amount, dtype: float64